{% extends "admin_common_base.html" %}
{% block css %}
    <link href="{{ url_for('static',filename='css/dataTables.bootstrap.css') }}" rel="stylesheet">
{% endblock %}
{% block js %}
    <script src="{{ url_for('static',filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/dataTables.bootstrap.js') }}"></script>
    <script>
        $(function() {
            $('#dataTable').dataTable({
                "language": {
                    "url": "{{ url_for('static',filename='js/Chinese.json') }}"
                }
            });
        } );
    </script>
{% endblock %}

{% block mainContent %}
    <table id="dataTable" class="table table-bordered table-striped table-hover" cellspacing="0" width="100%">
        <thead>
        <tr>
            {% block tableHead %}
            {% endblock %}
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            {% set itemLoop = loop %}
            <tr>
                {% block tableRow scoped %}
                {% endblock %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}