{% extends "admin_common_base.html" %}
{% block css %}
    <link href="{{ url_for('static',filename='css/jquery.dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block js %}
    <script src="{{ url_for('static',filename='js/jquery.dataTables.min.js') }}"></script>
    <script>
        $(function() {
            $('#dataTable').dataTable( {
                "language": {
                    "sProcessing":   "处理中...",
                    "sLengthMenu":   "显示 _MENU_ 项结果",
                    "sZeroRecords":  "没有匹配结果",
                    "sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix":  "",
                    "sSearch":       "搜索:",
                    "sUrl":          "",
                    "sEmptyTable":     "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands":  ",",
                    "oPaginate": {
                        "sFirst":    "首页",
                        "sPrevious": "上页",
                        "sNext":     "下页",
                        "sLast":     "末页"
                    },
                    "oAria": {
                        "sSortAscending":  ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "dom": '<"toolbar">ftip'
            });
            $(".toolbar").addClass("col-sm-6");
            $(".toolbar").append('<a class="btn btn-primary" href="#">新建</a> ');
            $(".toolbar").append('<button type="submit" class="btn btn-danger">删除</button>');
        } );
    </script>
{% endblock %}

{% block mainContent %}
    <div class="table-responsive">
        <table id="dataTable" class="table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
            <tr>
                {% block tableHead %}
                {% endblock %}
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                {% set itemLoop = loop %}
                <tr>
                    {% block tableRow scoped %}
                    {% endblock %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}